<style>
  .container {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    width: 80%;
  }

  .main-headline {
    display: grid;
    grid-template-areas:
      "one"
      "two"
      "three";
    justify-items: start;
    gap: 6px;
    font-size: var(--headline-large);
    width: 100%;
  }

  .one {
    grid-area: one;
    width: 100%;
  }

  .two {
    grid-area: two;
    width: 100%;
  }

  .three {
    grid-area: three;
    width: 100%;
  }

  .tagline {
    font-size: var(--font-body-text);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.05rem;
  }

  @media (min-width: 660px) {
    .main-headline {
      grid-template-areas:
        "one two"
        "three three";
      column-gap: 12px;
      
    }
  }

  @media (min-width: 960px) {
    .container {
      width: 100%;
    }

    .main-headline {
      grid-template-areas: "one two three";
      column-gap: 14px;
      width: fit-content;
    }
  }
</style>

<div class="container">
  <h1 class="main-headline">
    <span class="one">
      Affordable
    </span>
    <span class="two">
      Websites
    </span>
    <span class="three">
      That Sell!
    </span>
  </h1>
  <p class="tagline">
    Is Your Website Bringing In New Leads Every Week?
  </p>
</div>